<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Feedback</display-name>
  <welcome-file-list>
    <welcome-file>Registration.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegInsert</display-name>
    <servlet-name>RegInsert</servlet-name>
    <servlet-class>Package.RegInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegInsert</servlet-name>
    <url-pattern>/RegInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegDisplay</display-name>
    <servlet-name>RegDisplay</servlet-name>
    <servlet-class>Package.RegDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegDisplay</servlet-name>
    <url-pattern>/RegDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchPswd</display-name>
    <servlet-name>searchPswd</servlet-name>
    <servlet-class>Package.searchPswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPswd</servlet-name>
    <url-pattern>/searchPswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedback</display-name>
    <servlet-name>feedback</servlet-name>
    <servlet-class>Package.feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
</web-app>